/* Reduce login logo size */
.login-logo img {
  max-height: 60px !important;
  width: auto !important;
}

/* Reduce header logo size */
.brand-link img {
  max-height: 35px !important;
  width: auto !important;
}
